.suggestions {
    flex: 0.5;
  }

  .user-suggestions {
    flex: 0.5;
    margin-top: 15vh;
    height: 75vh;
    
  min-width: fit-content;
 
  
  }
  .user-suggestions::-webkit-scrollbar {
    display: none;
  }
  
  .user-suggestions-d {
    height: 73vh;
    
  min-width: fit-content;
  overflow-y: scroll;
  
  }

  .user-suggestions-d::-webkit-scrollbar {
    width: 5px;
}

.user-suggestions-d::-webkit-scrollbar-track {
    background-color: darkgrey;
}
  .user-suggestions-d::-webkit-scrollbar-thumb {
    
      border-radius: 100px;
      background: #76beee;
      border: 6px solid rgba(0,0,0,0.2);

  }
  
  
   
  
  .suggestionsInput {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .suggestionsInput > input {
    border: none;
    background-color: var(--twitter-background);
  }

  .user-suggestions-header   h2{

    margin-left: 15px;
    font-size: 20px;
    font-weight: 800;
  }
  
  .userSearch {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }