.tweetInput {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetInput > form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetFormInput {
    padding: 20px;
    display: flex;
  }
  
  .tweetFormInput > textarea {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    overflow-wrap: break-word;
    resize: vertical;
  }
  
  .tweetBox__imageInput {
    border: none;
    padding: 10px;
  }
  
  .tweetInputButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }

  .tweetInputButtonDisabled {
    background-color: rgb(235, 110, 110) !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: fit-content;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }